@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="home-index">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button v-on:click="clickMe" class="btn btn-primary">點我</button>
    <b>未登入:取得 401 & 會導回到Login Page</b>
    <b>登入: 取得 200 response</b>
</div>

@section Scripts {
    <script src="~/js/home/index.js"></script>
}
