@model DemoShop.Web.Models.ViewModels.Partial.WidgetPartialViewModel
@{
}
<h2>@Model.Title</h2>
<div class="row row-cols-3 mb-3">
    @foreach (var item in Model.ProductCards)
    {
        <div class="col">
            <partial name="_ProductCardPartial" model="item" />
        </div>
    }
</div>