@if (Context.User.Identity.IsAuthenticated)
{
    <section class="col-lg-4 col-md-5 col-xs-12">
        <div class="esh-identity">
            <form method="post" id="logoutForm" class="navbar-right d-flex justify-content-around">
                <section>
                    <div class="text-dark">@Context.User.Identity.Name，您好！</div>
                </section>
                <section>
                    <button type="submit" class="btn btn-info" asp-controller="Account" asp-action="Logout">登出</button>
                </section>
            </form>
        </div>
    </section>

}
else
{
    <section class="d-flex">
        <div>
            <a class="btn btn-outline-primary" asp-controller="Account" asp-action="SignIn">
                登入
            </a>
        </div>
        <div>
            <a class="ml-3 btn btn-outline-info" asp-controller="Account" asp-action="SignUp">
                註冊
            </a>
        </div>

    </section>


}