<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DemoShop.Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
          type="text/css">
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.14.5/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    @await RenderSectionAsync("TopCSS", required: false)
    @await RenderSectionAsync("TopJS", required: false)
</head>
<body>
@RenderBody()
@await RenderSectionAsync("EndCSS", required: false)
@await RenderSectionAsync("EndJS", required: false)
</body>
</html>