@{
    ViewData["Title"] = "Sample: UserName";
}

<div class="text-center" id="auth-username">
    <h1 class="display-4">Sample: UserName</h1>

    <button v-on:click="clickMe" class="btn btn-primary">點我</button>
</div>

@section Scripts {
    <script src="~/js/auth/userName.js"></script>
}
